h1.title {
    background-color: antiquewhite;
    text-align: center;
}
nav {
    background-color: greenyellow;
    text-align: center;
}
main {
    background-color: orange;
}

iframe.map {
    display: block;
}

iframe.videoYT {
    display: block;
}